.container {
  width: 100%;
  padding: 0 20px;
  text-align: center;
align-items: center;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

@media (max-width: 1200px) {
  .image-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 800px) {
  .image-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .image-grid {
    grid-template-columns: 1fr;
  }
}

.ImageCard {
  /* Add any additional styling for ImageCard here */
  box-sizing: border-box;
}
